/* ========== GENERAL STYLES ========== */
body {
	margin: 0px;
	padding: 0px;
	font: 600 14px/1.2em 'Source Sans Pro', sans-serif;
	background: #171920;
	color: #757781;
}
h1 {
	font: 600 22px/1 'Source Sans Pro', sans-serif;
	letter-spacing: -.25px;
	color: #FFF;
	margin: 0px;
}
h1 span {
	font: 300 22px/1 'Source Sans Pro', sans-serif;	
}
h2 {
	font: 400 21px/1 'Noto Serif', serif;
	color: #171920;
	margin: 45px 0px 0px;
}
button, #cropit-export {
	display: inline-block;
	font: 600 16px/1.2em 'Source Sans Pro', sans-serif;
	text-decoration: none;
	color: #FFF;	
	background: #3599CD;
	padding: 11px 23px;
	border: 0px;
	cursor: pointer;
}
label {
	display: inline-block;
	position: relative;
	margin: 0px 2px;
	vertical-align: middle;
}
label input {
	width: 55px;
	height: 36px;
	display: block;
	text-align: center;
	border: solid 1px #171920;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	padding: 0px 10px;
	margin: 0px;
	background: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.hidden, #cropit-export.hidden {
	display: none;   
}
.access-hidden {
	display: block !important;
	width: 0px !important;
	height: 0px !important;
	padding: 0px !important;
	margin: 0px !important;
	border: 0px !important;
	background: none !important;
	overflow: hidden !important;
}
.clear:after {
	content: "";
	visibility: hidden;
	clear: both;
	display: block;
	height: 0px;
}
.border-box {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


/* ========== STRUCTURAL STYLES ========== */
.section-parent {
	position: relative;
	padding: 0px 20px;
	display: block;
}
.section {
	max-width: 730px;
	margin: 0px auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#page {
	position: relative;
	overflow: hidden;
}
header {
	background: #181A21;	
}
.section.header {
	padding: 17px 0px;	
}
.section.header h1 {
	float: left;	
}
.section.header #header-logo {
	float: right;	
	position: relative;
	top: 2px;
}
main {
	overflow: hidden;
	background: #FFF;
}
.section.main {
	max-width: none;
	padding: 30px 0px;
}
.section.main:before {
	content: "Uh Oh! This image editor only fully supported by Chrome and Firefox. Please use one of those browsers for this application.";
	display: block;
	text-align: center;
	padding: 100px 0px;
}
.mobile .section.main:before {
	content: "Uh Oh! This image editor can only be used on a desktop computer.";
}
.chrome.no-mobile .section.main:before,
.ff.no-mobile .section.main:before {
	display: none;
}
.chrome.no-mobile .section.main.image-overflow:before,
.ff.no-mobile .section.main.image-overflow:before {
	content: "The current dimensions are wider than your screen. You can scroll the image container left and right to view the entire cropping area.";
	display: block;
	padding: 0px 0px 20px 0px;
}
footer {
	position: relative;
	background: #171920;
}
footer:before {
	content: "";
	height: 1px;
	display: block;
	position: absolute;
	top: 30px;
	left: 0px;
	right: 0px;
	background: #bb3292;
	background: -moz-linear-gradient(left,  #bb3292 0%, #ed1f69 16%, #f47e45 33%, #fece0c 49%, #c3d42e 65%, #43bb93 82%, #3599cd 100%);
	background: -webkit-linear-gradient(left,  #bb3292 0%,#ed1f69 16%,#f47e45 33%,#fece0c 49%,#c3d42e 65%,#43bb93 82%,#3599cd 100%);
	background: linear-gradient(to right,  #bb3292 0%,#ed1f69 16%,#f47e45 33%,#fece0c 49%,#c3d42e 65%,#43bb93 82%,#3599cd 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bb3292', endColorstr='#3599cd',GradientType=1 );	
}
.section.footer {
	 padding: 54px 0px 28px;	
}
#light-box-outer {
	display: none;
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	padding: 0px 20px;
	background: rgba(0, 0, 0, .60);
	z-index: 100;	
	overflow: auto;
}
#light-box {
	max-width: 450px;
	margin: 100px auto;
	padding: 0px 20px;
	background: #FFF;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-moz-box-shadow: 0px 0px 40px rgba(0, 0, 0, .40);
	-webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, .40);
	box-shadow: 0px 0px 40px rgba(0, 0, 0, .40);
}
#light-box-content {
	padding: 0px 0px 30px;
	border-bottom: dashed 1px #DDE1EA;
}
#light-box-content h2 {
	float: left;	
}
#light-box-content p {
	clear: both;
}
.light-box-message {
	clear: both;	
	padding-top: 9px;
}
#light-box-close {
	margin: 18px 0px 48px;	
}

/* ========== CONTENT STYLES ========== */
#cropit-preview-wrapper {
	overflow-y: hidden;
	overflow-x: auto;
}
.image-editor {
	display: none;
}
.chrome.no-mobile .image-editor,
.ff.no-mobile .image-editor {
	display: block;
	overflow-y: hidden;
    overflow-x: scroll;
    padding-bottom: 10px;
}
.cropit-preview {
	background-color: #EFEFEF;
	background-size: cover;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin: 0px auto;
	width: 960px;
	height: 500px;
}
.cropit-preview-image-container {
	cursor: move;
	background: url(/cms/lib/SW00000032/Centricity/domain/4/image-editor/img/blackboard.svg) no-repeat center;
	background-size: 50% auto;
}
.image-size-label {
	margin-top: 10px;
}
input, .export {
	display: block;
}
.cropit-preview-background {
	opacity: .2;
}
#cropit-dimension-controls {
	display: inline-block;
	vertical-align: middle;
}
.cropit-tooltip {
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	background: #FFF;
	border: solid 1px #171920;
	padding: 5px 10px;
	opacity: 0px;
}
.cropit-tooltip {
	display: block;
	width: 90px;
	font-size: 11px;
	position: absolute;
	top: 100%;
	left: 0px;
	background: #FFF;
	border: solid 1px #171920;
	padding: 5px 10px;
	margin: 0px;
	opacity: 0;
	z-index: 1;
	-ms-transition: all .2s ease 0s;
	-moz-transition: all .2s ease 0s;
	-webkit-transition: all .2s ease 0s;
	transition: all .2s ease 0s;
}
.cropit-tooltip:before {
	content: "";
	display: block;
	position: absolute;
	bottom: 100%;
	left: 13px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 12px 6px 12px;
	border-color: transparent transparent #171920 transparent;
}
.cropit-tooltip:after {
	content: "";
	display: block;
	position: absolute;
	bottom: 100%;
	left: 15px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 10px 5px 10px;
	border-color: transparent transparent #FFF transparent;
}
.cropit-dimension:focus + .cropit-tooltip {
	margin-top: 10px;
	opacity: 1;
}
#cropit-edit-controls {
	display: block;
	text-align: center;
	position: relative;
	padding: 15px 0px 35px;
}
#cropit-rotate-controls {
	display: inline-block;
	vertical-align: middle;
	margin: 0px 30px;
}
.cropit-rotate-control {
	display: inline-block;
	background: #42b890;
	font-weight: normal;
}
.cropit-rotate-control.rotate-cw,
.cropit-rotate-control.rotate-ccw {
	margin-right: 10px;
}
#cropit-zoom-slider {
	display: inline-block;
	vertical-align: middle;
}
.cropit-image-zoom-input {
	width: 120px;
	height: auto;
	border: none;
	display: inline-block;
	vertical-align: middle;
}
#cropit-zoom-slider:before {
	content: "\f03e";
	font-size: 13px;
	font-family: FontAwesome;
	font-weight: normal;
	display: inline-block;
	vertical-align: middle;
	margin-right: 15px;
}
#cropit-zoom-slider:after {
	content: "\f03e";
	font-size: 20px;
	font-family: FontAwesome;
	font-weight: normal;
	display: inline-block;
	vertical-align: middle;
	margin-left: 15px;
}
#cropit-form-controls {
	text-align: center;
}
#cropit-upload {
	position: relative;
	margin-bottom: 8px;
}
#cropit-upload:before {
	content: "\f03e";
	font-size: 15px;
	font-family: FontAwesome;
	font-weight: normal;
	display: inline-block;
	margin-right: 15px;
}
#cropit-export {
	position: relative;
	margin: 0px 0px 8px 8px;
}
#cropit-export:before {
	content: "\f019";
	font-size: 15px;
	font-family: FontAwesome;
	font-weight: normal;
	display: inline-block;
	margin-right: 15px;
}

/* ========== MOBILE STYLES ========== */
/* MediaBegin 480+ */
@media (max-width: 639px) {
	.section.header h1 {
		float: none;	
	}
	.section.header #header-logo {
		float: none;
		top: 0px;
		display: block;
		margin-top: 10px;	
	}
	#cropit-zoom-slider {
		display: block;
		margin: 20px 0px 0px;
	}
}
/* MediaBegin 320+ */
@media (max-width: 479px) {
	#cropit-rotate-controls {
		margin: 20px 0px 0px;
	}
	.cropit-rotate-control.rotate-ccw {
		margin-right: 5px;
	}
}